@page
@model JeBalance.Web.Pages.IndexModel

@section styles {
}

<div class="container">
    <h1 class="my-4">Génération de JWT Tokens</h1>

    <!-- Button to generate a token with the role Admin -->
    <div>
        <button type="button" class="btn btn-primary mb-3" onclick="generateToken('Admin', 'adminTokenResult')">Récupérer un token avec le rôle Admin</button>
        <div id="adminTokenResult" class="token-result"></div>
    </div>

    <!-- Button to generate a token with the role AdminFiscale -->
    <div>
        <button type="button" class="btn btn-primary mb-3" onclick="generateToken('admin-fiscale', 'adminFiscaleTokenResult')">Récupérer un token avec le rôle AdminFiscale</button>
        <div id="adminFiscaleTokenResult" class="token-result"></div>
    </div>

    <!-- Button to generate a token with both roles Admin and AdminFiscale -->
    <div>
        <button type="button" class="btn btn-primary mb-3" onclick="generateToken('both-admin', 'adminAndAdminFiscaleTokenResult')">Récupérer un token avec les rôles AdminFiscale et Admin</button>
        <div id="adminAndAdminFiscaleTokenResult" class="token-result"></div>
    </div>
</div>

@section scripts {
    <script>async function generateToken(roles, resultContainerId) {
            try {
                const response = await fetch(`/api/app/generate-jwt-token/token-with-${roles}-role`);
                if (!response.ok) {
                    throw new Error('Error generating token');
                }

                const token = await response.text();

                // Afficher le token dans une zone de texte plutôt que directement dans le texte brut
                document.getElementById(resultContainerId).innerHTML = `
                        <div class="alert alert-success" role="alert">
                            <strong>Succès!</strong> Token généré avec succès: <textarea class="form-control" readonly>${token}</textarea>
                        </div>`;
            } catch (error) {
                console.error('An error occurred:', error.message);

                // Afficher un message d'erreur explicite en cas d'erreur
                document.getElementById(resultContainerId).innerHTML = `
                        <div class="alert alert-danger" role="alert">
                            <strong>Erreur!</strong> Une erreur s'est produite lors de la génération du token.
                        </div>`;
            }
        }</script>
}